.mobilenavbar {
  position: fixed;
  bottom: 2%;
  left: 0;
  width: 100%;
  justify-content: flex-end;
  padding: 10px;
  z-index: 100000000;
  display: none;

}
@media screen and (max-width:770px) {
.mobilenavbar{
display: block;
}
}



.toggle-button {
  font-size: 40px;
  cursor: pointer;
  background: none;
  border: none;
  color: #d24d4d;
  top: 5%;
  left: 35px;
  z-index: 1000000;
  position: fixed;
}

.side-navbar {
  position: fixed;
  top: 0;
  left: -100px; /* Start off-screen */
  width: 100px;
  height: 100%;
  background-color: #090909d7;
  color: white;
  overflow-x: hidden;
  transition: 0.3s; /* Smooth transition */
  padding-top: 100px;
  border-right: solid 1px #d24d4d;
}








.data-sideNavbar-icon {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex; /* Make the list horizontal */
  flex-direction: column;
  justify-content: space-around; /* Space items evenly */
  align-items: center; /* Center items vertically */
  height: 60%; /* Ensure it fills the navbar height */
}
.data-sideNavbar-icon li {
  padding: 0; /* Remove padding for horizontal alignment */
  text-align: center;
}
.data-sideNavbar-icon li a {
  color: white;
  text-decoration: none;
  display: inline-block; /* Ensure proper alignment */
  padding: 10px 15px; /* Add some spacing around the icons */
}
.data-sideNavbar-icon a:hover {
  background-color: #d24d4d;
  border-radius: 5px; /* Optional: Add rounded corners on hover */
}


.data-sidenavbar-account-icon {
  list-style-type: none;
  bottom: 0;
  position: absolute;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly; 
  align-items: center; 
  height: 10%;
}
.data-sidenavbar-account-icon li {
  padding: 0; 
  text-align: center;
}
.data-sidenavbar-account-icon li a {
  color: white;
  text-decoration: none;
  display: inline-block; /* Ensure proper alignment */
  padding: 10px 15px; /* Add some spacing around the icons */
}
.data-sidenavbar-account-icon a:hover {
  background-color: #d24d4d;
  border-radius: 5px; /* Optional: Add rounded corners on hover */
}