body, html{
overflow-x: hidden;
padding: 0;
margin: 0;
}


#section1 {
background-color: #0f0f0f;
min-height: 100vh; 
height: auto;
justify-content: center;
display: flex;
align-items: center;
}
.section1-container-parent{
position: absolute;
display: flex;
top: 15%;
width: 50vw;
}

.section-container-content{
line-height: 1;
}
.section-container-content h1{
color: white;
font-family: montserrat;
font-size: 2em;
font-weight: 600;
margin: 0;
padding: 2px;
}
.section-container-content a{
color: rgb(111, 111, 111);
font-family: montserrat;
font-size: 1em;
font-weight: 400;
margin: 0 ;
padding: 2px;
text-decoration: none;
}
.section-container-content a::after{
content: "";
background-color: rgb(227, 68, 68);
position: absolute;
margin: 20px 0 0 0;
width: 10%; height: 1px;
display: block;
}






.section1-page-content-container-parent {

}
.section-container-text-content{
width: 50vw;
display: flex;
flex-direction: column; 
margin: 25vh auto;
}


@media screen and (max-width:680px) {
.section-container-text-content{
width: 80vw;
}
.section1-container-parent{
width: 80vw;    
}
.section-container-text-content h2, h3{
font-size: .9em;
}
.section-container-text-content ul li{
font-size: .7em;
}
.section-container-text-content p{
font-size: .7em;
}
.section-container-content h1{
font-size: 1.5em;
}
.section-container-content a{
font-size: .8em;
}
}

.section-container-text-content h2, h3{
color: white;
font-family: montserrat;
}
.section-container-text-content ul li{
color: white;
font-family: montserrat;
margin: 8px 0;
}
.section-container-text-content p{
color: white;
font-family: montserrat;
}
.section-container-text-content strong{
color: white;
font-family: montserrat;
}
.section-container-text-content a{
color: #d73a3a;
transition: all 0.3s ease-in-out;
text-decoration: none;
display: inline-flex;
justify-content: center;
align-items: center;
position: relative;
}
.section-container-text-content a::after {
content: '';
position: absolute;
left: 0;
right: 32px;
bottom: -2px;
height: .5px;
background: rgb(218, 52, 52);
transition: width 0.2s ease;
width: 0;
}
.section-container-text-content a:hover::after {
width: calc(100% - 12px); 
}
.section-container-text-content a span{
color: white;
display: inline;
font-size: 1em;
}

.section-container-text-content li {
list-style: none;
}





