body, html{
overflow-x: hidden;
padding: 0;
margin: 0;
}


#section1 {
background-color: #0f0f0f;
min-height: 100vh; 
height: auto;
justify-content: center;
display: flex;
align-items: center;
}

.section1-container-parent{
display: block;
width: 80%;
justify-content: center;
align-content: center;
}


.h-section1-content-container{
display:  flex;
}

.i-section-div-container{
width: 100%;
text-align: left;
justify-content: center;
}


.contact-point{
display: block;
}
.i-section-div-container h1{
color: rgb(255, 255, 255);
font-size: 2em;
font-family: montserrat;
font-weight: 800;
}
.i-section-div-container h2{
color: rgb(255, 255, 255);
font-family: montserrat;
font-weight: 600;
font-size: 1.2em;
align-items: center;
display: flex;
}


.i-section-div-container p{
color: rgb(172, 172, 172);
font-family: montserrat;
font-weight: 400;
font-size: .8em;
}
.contact-point a {
  position: relative;
  cursor: pointer;
  color: rgb(239, 57, 57);
  font-family: montserrat;
  font-size: .9em;
  transition: all 0.5s ease;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.contact-point a::after {
content: '';
position: absolute;
left: 0;
right: 32px;
bottom: -2px;
height: 1px;
background: rgb(218, 52, 52);
transition: width 0.2s ease;
width: 0;
}
.contact-point a:hover::after {
width: calc(100% - 12px); 
}
.contact-point a span{
color: white;
display: inline;
font-size: 1em;
}


.contact-point address{
color: rgb(132, 132, 132);
font-family: montserrat;
font-size: .8em;
}



.j-section-box-container{
padding-bottom: 50px;
width: 60%;
}


.fa-xl:hover{
color: rgb(247, 52, 52) !important;
transition: all 0.3s ease-in-out;
}


@media screen and (max-width:1200px) {
.section1-container-parent{
width: 80%;
margin-top: 70px;
justify-content: center;
align-content: center;
}
.h-section1-content-container{
display:  block;
}
.j-section-box-container{
width: 100%;
}
.av-mobile {
width: 100%;
padding: 5px;
border-radius: 5px;
border: solid 1px #262626;
}
.av-mobile h2 {
font-size: .6em;
}
.av-mobile .contact-point address {
font-size: .5em;
}
.av-mobile svg {
width: 16px;
height: 16px;
}
}