html, body {
background-color: #050505;
overflow-x: hidden;
width: 100%;
margin: 0;
justify-items: center;
justify-items: center;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



















#section1{
background-color: #050505;
min-height: 100dvh;
height: auto;
width: 100vw;
z-index: 0;
position: relative;
align-items: center;
display: block;
justify-content: center;
}
