html, body {
background-color: #050505;
overflow-x: hidden;
width: 100%;
margin: 0;
justify-items: center;
justify-items: center;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
html.js body {
opacity: 0;
transition: opacity 1s ease-in;
}
html.js body.fade-in {
opacity: 1;
}
.no-scroll {
overflow: hidden;
height: 100%;
position: fixed; 
width: 100%; 
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}














.section-dynamic-content-slider-container {
position: relative;
width: 70%;
margin: auto;
overflow: visible;
}
.a-slider-track {
display: flex;
gap: 1rem;
overflow-x: hidden;
overflow-y: hidden;
scroll-behavior: smooth;
padding: 20px;
width: 100%;
cursor: grab;
}
.a-slider-track.active {
cursor: grabbing;
user-select: none;
}
@media screen and (max-width: 780px) {
.a-slider-track{
overflow-x: scroll;
}    
}
.a-slider-card {
position: relative;
width: 300px;
min-height: 500px;
flex: 0 0 auto;
color: white;
background: rgb(8, 8, 8);
border-radius: 15px 0 15px 0;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
padding: 5px;
transition: all 0.5s ease;
transform-origin: center; 
z-index: 0; 
border: solid 1px rgb(34, 34, 34);
}
.a-slider-card-inner{
background: rgb(8, 8, 8);
}
.a-slider-card:hover {
border: solid 1px rgb(228, 71, 71);
transition: all 0.5s ease;
}
.a-slider-nav {
position: absolute;
top: 50%;
transform: translateY(-50%);
background: transparent;
color: white;
border: none;
padding: 0.5rem 1rem;
font-size: 1.2rem;
cursor: pointer;
border-radius: 6px;
z-index: 1;
}
.nav-left {
left: -4rem;
}
.nav-right {
right: -4rem;
}
.a-slider-card-image1 img {
position: relative;
bottom: auto; 
opacity: 50%;
height: 70px;
width: 100% !important;
object-fit: contain;
margin: auto;
display: block;
overflow: hidden;

}
.a-slider-card-image2 img{
position: absolute;
opacity: 5%;
height: 20dvh;
object-fit: contain;
bottom: 5%;
left: 50%;
transform: translate(-50%, 0%) scale(1.2);
z-index: 1;
overflow: hidden;
}
.a-slider-card h2 {
margin: 0 0 0 10px;
padding-left: .4px;
font-size: 1vw;
list-style: none;
font-family: orbitron;
}
.a-slider-card h2::before {
content: "》";
color: #f75454;
}
.a-slider-card h3 {
margin: 0 0 0 10px;
font-size: .7vw;
list-style: none;
font-family: orbitron;
}
.a-slider-card li {
font-size: .5vw;
list-style: none;
font-family: montserrat;
padding: 2px;
margin: 2% 0 0 0;
background-color: #22222225;
border-radius: 10px 0 10px 0px;
z-index: 10;
position: relative;
}
.a-slider-card li::before{
content: "◥ ";
}


.odds{
position: absolute;
font-size: 1em;
background-color: #f75454;
color: #1a1a1a;
min-width: 5vw;
padding: 2px;
width: auto;
bottom: 0;
left: -10px;
border-radius: 10px 0 10px 0px;
}
@media (max-width: 1080px) {
.a-slider-card li {
font-size: 2vw;
}
}
@media (max-width: 1080px) {
.a-slider-card h3 {
font-size: 2vw;
}
}


.save-png-button {
position: absolute;
bottom: 0;
right: 0;
border-radius: 15px 0 15px 0;
padding: 8px 12px;
font-size: 0.9rem;
border: none;
background-color: transparent;
cursor: pointer !important;
z-index: 1000;
transition: all 1s ease;
}
.save-png-button:hover {
opacity: 50%;
transition: all 1s ease;
cursor: pointer !important;
}
.download-icon {
width: 30px;
height: 30px;
cursor: pointer !important;

}
.save-png-button:hover .download-icon {
filter: brightness(1.2);
cursor: pointer !important;
}
@media  (max-width: 1080px) {
.logo-a-slider {
width: 90vw;
}
}
@media  (max-width: 1080px) {
.a-slider-card li {
font-size: 1em;
}
.a-slider-card-inner h2{
font-size: 1.2em;
}
.a-slider-card h3{
font-size: 1em;
}
.odds{
font-size: 1.5em !important;
padding: 2px 5px 2px 5px !important;
}
.odds::before{
display: none !important;
}
}
@media (max-width: 1080px) {
.section-dynamic-content-slider-container {
width: 90%;
}
}
@media (max-width: 1080px) {
.a-slider-card {
width: 40vw;
height: 50dvh;
}
}


@media  (max-width: 1080px) {
.nav-left {
left: 0rem;
}
.nav-right {
right: 0rem;
}
}

@media  (max-width: 1080px) {
.logo-a-slider {
width: 90vw;
}
}
@media (max-width: 1080px) {
.a-slider-card {
width: 30vw;
height: 60dvh;
}
.a-slider-card li {
font-size: .6em;
}
.a-slider-card-inner h2{
font-size: 1em;
}
.a-slider-card h3{
font-size: .8em;
}
.odds{
font-size: 1em !important;
padding: 2px 5px 2px 5px !important;
}
.odds::before{
display: none !important;
}
.section-dynamic-content-slider-container {
width: 90%;
}
.nav-left, .bnav-left {
left: 0rem;
}
.nav-right, .bnav-right {
right: 0rem;
}
}
@media (max-width: 780px) {
.a-slider-card {
width: 45vw;
height: 65vh;
}
}
@media  (max-width: 600px) {
.a-slider-card {
width: 45vw;
height: 30dvh;
}
.a-slider-card-image1 img{
width: 50px;
height: 50px;
}
.a-slider-card li {
font-size: .5em;
}
.a-slider-card-inner h2{
font-size: 1em;
}
.a-slider-card h3{
font-size: .8em;
}
.odds{
font-size: 1.1em !important;
padding: 2px 5px 2px 5px !important;
}
.odds::before{
display: none !important;
}
.section-dynamic-content-slider-container {
width: 90%;
}
.nav-left, .bnav-left {
left: -2rem;
}
.nav-right, .bnav-right {
right: -2rem;
}
}
@media  (max-width: 480px) {
.a-slider-card {
width: 65vw;
height: 25dvh;
}
.a-slider-card li {
font-size: .7em;
}
.odds{
font-size: 1em !important;
padding: 2px 5px 2px 5px !important;
}
.odds::before{
display: none !important;
}
.nav-left, .bnav-left {
display: none;
}
.nav-right, .bnav-right {
display: none;
}
}

















/* */

.b-section-dynamic-content-slider-container {
position: relative;
width: 70%;
margin: auto;
overflow: visible;
}
@media screen and (max-width: 600px) {
.b-section-dynamic-content-slider-container{
width: 80%;
}
}

.b-slider-track {
display: flex;
gap: 1rem;
overflow-x: hidden;
overflow-y: hidden;
scroll-behavior: smooth;
padding: 20px;
width: 100%;
cursor: grab;
}
.b-slider-track.active {
cursor: grabbing;
user-select: none;
}
@media screen and (max-width: 780px){
.b-slider-track{
overflow-x: scroll;
}
}

.b-slider-card {
position: relative;
width: 300px;
height: 85px;
flex: 0 0 auto;
color: white;
background: rgb(8, 8, 8);
border-radius: 15px 0 15px 0;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
padding: 5px;
transition: all 0.5s ease;
transform-origin: center; 
z-index: 0; 
border: solid 1px rgb(34, 34, 34);
}




.b-slider-card:hover {
overflow: visible;
border: solid 1px rgb(228, 71, 71);
transition: all 0.5s ease;
}
.b-slider-card-inner{
background: transparent;
}

.b-slider-card-image1{
display: flex;
gap: 5px;
}
.b-slider-card-image1 img{
width: 25px;
display: flex;
}


.b-slider-card-inner h3{
font-family: orbitron;
font-size: 18px;
font-weight: 800;
}
.b-slider-card-inner p{
font-family: orbitron;
font-size: 12px;
font-weight: 600;
color: #a5a5a5;
}
.b-text a{
font-family: orbitron;
font-size: 10px;
font-weight: 400;
color:#9b9b9b;
}
.b-odds{
position: absolute;
right: 5px;
bottom: 2px;
}
.b-odds a{
color: white;
font-family: orbitron;
font-weight: 500;
}

.b-slider-nav {
position: absolute;
top: 70%;
transform: translateY(-50%);
background: transparent;
color: white;
border: none;
padding: 0.5rem 1rem;
font-size: 1.2rem;
cursor: pointer;
border-radius: 6px;
z-index: 1;
}
.bnav-left {
left: -4rem;
}
.bnav-right {
right: -4rem;
}










#section1{
background-color: #050505;
height: 50dvh;
width: 100vw;
z-index: 10;
position: relative;
align-items: center;
border-top: solid 1px #1a1a1a;
display: block;
justify-content: center;
}




.g-switch-container {
position: absolute;
width: 220px;
height: 30px;
background: transparent;
border: solid 1px #3e3e3e;
border-radius: 10px;
overflow: hidden;
cursor: pointer;
bottom: 10%;
left: 20%;
}
.g-switch-fill {
position: absolute;
width: 50%;
height: 100%;
top: 0;
left: 0;
background: #ff2d2d;
border-radius: 0;
transition: left 0.3s ease;
z-index: 1;
}
.g-switch-content {
position: relative;
display: flex;
height: 100%;
z-index: 2;
font-size: 10px;
font-family: montserrat;
}
.g-switch-side {
flex: 1;
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
transition: color 0.3s ease;
padding: 0 10px;
font-weight: bold;
}
.g-switch-side img {
width: 30px;
height: 30px;
object-fit: contain;
}
input[type="checkbox"] {
display: none;
}
input:checked + .g-switch-container .g-switch-fill {
left: 50%;
border-radius: 0 ;
}
input:checked + .g-switch-container .g-switch-content .left {
color: #656565;
}
input:checked + .g-switch-container .g-switch-content .right {
color: #0c0c0c;
}
.g-switch-content .left {
color: #161616;
}
.g-switch-content .right {
color: #656565;
}
/**/







#section3{
background-color:#050505 ;
height: 300dvh;
width: 100vw;
z-index: 10;
position: relative;
align-items: center;
border-top: solid 1px #1a1a1a;
display: block;
justify-content: center;
}
.datacontent{
display: block;
padding: 20px;
line-height: 1.5;
}
.b-section-dynamic-content-slider-container h1 {
color: #ffffff;
font-family: orbitron;  
font-size: 1.5em; 
}
.b-section-dynamic-content-slider-container h2 {
color: #ffffff;
font-family: orbitron;   
font-size: 1em;
}




.e-ucl{
background: #1b158c;
background: linear-gradient(131deg, rgba(27, 21, 140, 1) 0%, rgba(0, 137, 171, 1) 60%, rgba(140, 88, 168, 1) 100%);
border: solid 1px #ffffff;
}
.e-uel{
background: #ff801f;
background: linear-gradient(131deg, rgba(255, 128, 31, 1) 0%, rgba(66, 48, 3, 1) 60%, rgba(0, 0, 0, 1) 100%);
border: solid 1px #ffffff;
}

.e-uecl{
background: #23ff1f;
background: linear-gradient(131deg, rgba(35, 255, 31, 1) 0%, rgba(10, 66, 3, 1) 60%, rgba(0, 0, 0, 1) 100%);
border: solid 1px #ffffff;
}

.e-cwc{
background: #171717;
background: linear-gradient(131deg, rgba(23, 23, 23, 1) 0%, rgba(194, 164, 64, 1) 51%, rgba(15, 15, 15, 1) 100%);
border: solid 1px #ffffff;
}