html, body {
background-color: #050505;
overflow-x: hidden;
width: 100%;
margin: 0;
justify-items: center;
justify-items: center;
scroll-behavior: smooth;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-webkit-text-size-adjust: 100%;
padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}



















#section1{
background-color: #050505;
min-height: 100dvh;
height: auto;
width: 100vw;
z-index: 0;
position: relative;
align-items: center;
display: block;
justify-content: center;
}


.h-section-4-content {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
align-items: center;
justify-content: center;
}
.h-section-4-content-container {
display: flex;
flex-direction: column;
width: 50%;
height: 100%;
align-items: center;
}
.h-section-4-content-container a,p,h1,h2,h3{
color: white;
font-family: montserrat;
}
.h-class-text {
display: flex;
flex-direction: column;
width: 100%;
margin: 20px 0;
line-height: 1.5;
}
.h-class-text h2{
color: white;
font-family: montserrat;
font-weight: 200;
font-size: 1em;
}
.h-class-text p{
color: white;
font-family: montserrat;
font-weight: 200;
font-size: .7em;
padding: 5px;
background-color: #131313;
}



.h-section-4-content-dropdowns{
display: flex;
flex-direction: column;
}
.h-section-4-content-dropdowns h2{
font-weight: 600;
font-size: 1em;
}

.h-section-4-content-dropdowns-container-parent {
display: flex;
flex-direction: row;
margin-top: 20px;
align-items: flex-start; 
}

.h-section-4-content-dropdowns-container-parent h1 {
color: rgb(255, 255, 255);
background-color: rgb(255, 54, 54);
padding: 2px 5px;
margin: 5px;
font-weight: 800;
font-size: 1em;
display: inline-block;      
line-height: 1.1;            
vertical-align: top;        
}


.dropdown {
margin: 5px;
overflow: hidden;
background-color: #131313;
width: 45vw;
cursor: pointer;
}
.dropdown-header p{
font-weight: 400;
font-size: .7em;
margin: 2px;
padding: 2px;
color: white;
font-family: montserrat;
width: 90%;
display: flex;
}
.dropdown-header span{
font-weight: 600;
color: rgb(255, 49, 49);
}
.dropdown-content {
max-height: 0;
overflow: hidden;
transition: max-height 0.4s ease;
padding: 0 10px;
}
.dropdown.open .dropdown-content {
display: block;
width: 45vw;
min-height: 50px;
}
.dropdown.open {
box-shadow: 0px 0px 10px rgb(255, 35, 35);
}
.dropdown p{
color: white;
font-family: montserrat;
font-weight: 200;
font-size: .7em;
margin: 10px;
}

.teaminfo{
color: rgb(73, 73, 73) !important;
font-weight: 400 !important;
padding: 0 !important;
margin: 0 !important;
}

.h-2{
font-weight: 400 !important;
padding: 2px;
}
.h-2 span{
background-color: rgb(255, 45, 45);
margin: 2px;
padding: 2px;
border-radius: 5px;
color: #131313;
font-weight: 500;
}


.h-1{
font-weight: 400 !important;
border: solid 1px rgb(37, 37, 37);
padding: 2px;
}

.h-1::before{
content: "❯ " !important;
color: rgb(249, 58, 58) !important;
}







.button-group {
margin-top: 20dvh;
}
.tab-button {
padding: 5px 10px;
margin: 0 5px;
border: none;
cursor: pointer;
background-color: transparent;
opacity: 0.3;
transition: all 0.3s ease-in-out;
border-radius: 5px;
}

.tab-button h1 {
font-size: 1em;
font-weight: 500;
transition: color 0.3s ease-in-out;
}
.tab-button h2 {
font-size: 0.7em;
font-weight: 500;
transition: color 0.3s ease-in-out;
}
.tab-button.active {
opacity: 1;
color: rgb(248, 58, 58);
transform: scale(1.25);
transition: all 0.3s ease-in-out;
box-shadow: 0 4px 12px rgba(247, 74, 74, 0.674);

}
.tab-button.active h1,
.tab-button.active h2 {
color: rgb(254, 77, 77);
}
.card-container {
width: 60vw;
}
.card {
display: none;
background-color: transparent;
padding: 20px;
border-radius: 10px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
transition: opacity 0.3s ease-in-out;
width: 60vw;
}

.card.active {
display: block;
}


@media screen and (max-width: 800px) {
.card-container {
width: 100vw;
justify-content: center;
display: flex;
}
.card.card.active {
width: 100vw;
display: flex;
}
.button-group {
justify-content: center;
display: flex;
}
.button-group h1{
font-size: .5em;
}
.button-group h2{
font-size: .4em;
}
}

@media screen and (max-width: 570px) {
.h-section-4-content-dropdowns-container-parent{
flex-direction: column;
}
.h-section-4-content-dropdowns-container{
width: 100%;
}
.dropdown{
width: 100%;
}
.dropdown.open .dropdown-content{
width: 100%;
}
}