body, html{
overflow-x: hidden;
padding: 0;
margin: 0;
background-color: #0B0B0B;
scroll-behavior: smooth;
}
html.js body {
opacity: 0;
transition: opacity 1s ease-in;
}
html.js body.fade-in {
opacity: 1;
}



#section1 {
background: #242424;
background: linear-gradient(137deg, rgba(36, 36, 36, 1) 0%, rgba(14, 14, 14, 1) 26%, rgba(14, 14, 14, 1) 100%);
min-height: 100vh; 
overflow-x: hidden;
}

#section1-2{
position: relative;
height: 150vh;
background: linear-gradient(to top, #0B0B0B, #0e0e0e);
width: 100%;
}
#section1-5 {
position: relative;
background-color: #0B0B0B;
width: 100%;
height: 80vh;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
z-index: 2;
padding-top: 25vh;
}
#section2 {
position: relative;
background-color: #0B0B0B;
min-height: 100vh; 
height: auto;
overflow: hidden;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
z-index: 2;
}
#section2-1 {
position: relative;
height: auto;
min-height: 80vh;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
z-index: 2;
backdrop-filter: blur(5px);
}
#section3 {
position: relative;
min-height: 40vh; 
height: auto;
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
z-index: 2;
backdrop-filter: blur(5px);
}







.section1-container-parent{
position: absolute;
z-index: 100;
width: auto;
left: 50%;
transform: translate(-50%, 50%);
overflow: hidden;
padding: 30px;
text-align: center;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
gap: 20px;
}
@media screen and (max-width: 1300px) {
.section1-container-parent{
width: 90%;
transform: translate(-50%, 25%);

}
.section-container-content{
z-index: 100;
width: 100%;
line-height: 1;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
}
.section-container-content h1{
font-family: inter;
font-size: clamp(1rem, 5vw, 2rem);
font-weight: 600;
margin: 0;
padding: 0;
width: fit-content;
display: flex;
justify-items: center;
background: linear-gradient(to left, rgb(100, 100, 100), rgb(186, 186, 186));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.section-container-content h2{
color: rgb(255, 255, 255);
font-family: montserrat;
font-size: 4em;
font-weight: 400;
margin: 0;
width: fit-content;
padding: 5px;
}
.section-container-content h3{
color: rgb(130, 130, 130);
font-family: montserrat;
font-size: 1.5em;
font-weight: 200;
margin: 0;
width: fit-content;
padding: 5px;
}

.bx-i{
margin-right: 10px;
}







.h-section-content-container{
grid-row: 3;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    
align-items: center;
justify-content: space-evenly;
width: 80%;

}
.i-section-container{
display: block;
width: 90%;
margin: 20px auto;
text-align: left;
padding: 10px;
}
.i-section-container h1{
color: white;
font-family: montserrat;
font-size: .9em;
}
.i-section-container p{
color: white;
font-family: montserrat;
font-size: .8em;
}
.i-section-container a {
position: relative;
cursor: pointer;
color: rgb(239, 57, 57);
font-family: montserrat;
font-size: .9em;
transition: all 0.5s ease;
text-decoration: none;
}
.i-section-container a::after {
content: '';
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 1px;
background: rgb(218, 52, 52);
transition: width 0.2s ease;
}
.i-section-container a:hover::after {
width: 90%; 
}

.i-section-container span{
color: white;
display: inline;
align-items: center;
font-size: 1em;
bottom: -2px;
position: relative;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 100,
'GRAD' 0,
'opsz' 16 !important;
}









#section2 h1{
font-family: inter;
font-size: 2.5em;
font-weight: 600;
margin: 20px 0;
padding: 2px;
display: flex;
justify-items: center;
background: linear-gradient(to left, rgb(73, 73, 73), rgb(238, 238, 238));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.s2-grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 25px;
width: 90%;
padding: 20px;
box-sizing: border-box;
height: auto;
}
.s2-grid-item{
cursor: pointer;
background-color: #0f0f0f;
padding: 0;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
color: white;
font-family: montserrat;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
position: relative; /* Add this */
overflow: hidden;   /* Add this to clip the overlay */
height: auto;
min-height: 400px;
gap: 20px;
}
.s2-grid-item h2{
position: relative;
font-family: montserrat;
font-size: 24px;
font-weight: 600;
margin: 25px 0;
z-index: 100;
}
.s2-grid-item img{
width: 100%;
height: auto;
border-radius: 10px;
margin-bottom: 15px;
position: absolute;
top: 0;
}

.s2-grid-item-show-more {
position: absolute;      /* Overlay */
left: 0;
top: 15%;
width: 100%;
max-height: 0;
opacity: 0;
overflow: hidden;
color: #fff;
padding: 30px 20px 20px 20px;
box-sizing: border-box;
border-radius: 10px 10px 0 0;
transition: all 0.5s;
margin-top: 0;
z-index: 2;
height: auto;
}
.s2-grid-item-show-more p {
font-family: inter;
font-size: 14px;
line-height: 1.5;
margin: 0;
}
.s2-grid-item:hover .s2-grid-item-show-more {
max-height: 500px;
opacity: 1;
margin-top: 0;
pointer-events: auto;
transition: all 0.5s;
}
.s2-grid-item:hover .s2-grid-img {
content: url("/pagecontent/resources/images/illustration-04.png");
transition: all 0.5s;
}



.s1-2-parent-container{
display: flex;
align-items: center;
width: 100%;
align-content: center;
flex-direction: column;
gap: 20px;
}
.s1-2-text-container{
position: relative;
display: flex;
width: 25%;
flex-direction: column;
text-align: center;
}
.s1-2-text-container h1{
font-family: montserrat;
font-size: 2.5em;
font-weight: 600;
background: linear-gradient(to left, rgb(73, 73, 73), rgb(238, 238, 238));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.s1-2-text-container p{
margin: 0 ;
color: white;
font-family: montserrat;
font-size: 1em;
font-weight: 300;
color: rgb(169, 168, 168);
z-index: 1;
}
.scrollDropdown {
margin: 0 22%;
padding: 5px 20px;
overflow: hidden;
width: 50%;
max-width: 600px;
display: flex;
flex-direction: column;
border-radius: 8px;
overflow: hidden;
left: 0;
}
.scrollDropdown span {
margin: 5px;
max-height: 0;
overflow: hidden;
border-radius: 8px;
font-family: montserrat;
color: #fff;
box-shadow: 0 5px 6px #ff23238a;
padding: 0px 15px;
cursor: pointer;
transform: translateY(-10px);
transition: all 0.3s ease-in-out;
border: none;
}
.scrollDropdown span.visible {  /* animation only to play when scrolling down */
max-height: 300px;
padding: 10px 15px;
animation: bounceIn 0.5s ease forwards;
transition: all 0.3s ease-in-out;
border: solid rgb(55, 55, 55) 1px;
}
@keyframes bounceIn {
0%   { transform: translateY(-20px) scale(var(--scale, 1)); }
60%  { transform: translateY(5px) scale(var(--scale, 1)); }
80%  { transform: translateY(-2px) scale(var(--scale, 1)); }
100% { transform: translateY(0) scale(var(--scale, 1)); }
}
#ag1 {
--scale: 1;
opacity: 1;
transition: all 0.3s ease-in-out;
}
#ag2 {
--scale: 0.97;
opacity: .5;
transition: all 0.3s ease-in-out;
}
#ag3 {
--scale: 0.95;
opacity: .25;
transition: all 0.3s ease-in-out;
}
#ag4 {
--scale: 0.9;
opacity: .1;
transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 1300px) {
.s1-2-text-container{
width: 90%;
}
.scrollDropdown {
margin: 0;
width: 80%;
}
.s1-2-content{

}
}


.typing-text{
color: white;
font-family: montserrat;
font-size: 1em;
font-weight: 300;
display: flex;
align-items: center;
flex-direction: row;
}

.typing-text p::after {
content: "";
display: inline-block;
margin-left: 1px;
width: 1px !important;        
height: 1em;        
background: #fff;   
animation: blink 1s steps(2, start) infinite;
}




.display-textbox {
border-radius: 50px;
display: inline-flex;
align-items: center;
justify-content: space-between;
transition: all 0.5s ease;   
border-radius: 50px;

border: 2px solid transparent;
background:
linear-gradient(#0e0e0ed3) padding-box,
linear-gradient(137deg, #0e0e0e00 45%, #72727292 50%, #0e0e0e00 55%) border-box;
background-size: 100% 100%, 200% 100%;
background-position: 0 0, 200% 50%;
box-shadow: #0000006e 5px 5px 20px 5px;
}

.display-textbox.expanded {
animation: bounceExpand 0.6s ease forwards;
}
@keyframes bounceExpand {
0%   { width: 0%;}
25%  { width: 25%;}
50%  { width: 50%;}
75%  { width: 60%;}
100% { width: 55%;}
}

.display-textbox .material-symbols-outlined{
color: rgb(255, 57, 57);
text-shadow: 0 0 50px rgb(255, 54, 54);
margin: 16px 20px;
font-size: 2.2em;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
.display-textbox .material-symbols-outlined:hover{
opacity: .7;
transition: all 0.3s ease-in-out;
}

.scrollTypingContainer .typing-content {
display: none;
}
.scrollTypingContainer {
background: none;
margin: 0 20px;
}

.scrollTypingContainer p span{
color: rgb(255, 54, 54);
font-family: montserrat;
font-weight: 600;
text-shadow: 0 0 8px rgb(255, 54, 54);
}


@keyframes blink {
0%, 50% { opacity: 1; }
51%, 100% { opacity: 0; }
}
@media screen and (max-width: 1300px) {
.typing-text{
font-size: .8em;
}
.display-textbox.expanded {
width: 90%;
animation: none;
}
}



.background-image-wrapper{
left: 0;
position: absolute;
z-index: 0;
width: 100%;
height: 80vh;
user-select: none;
pointer-events: none;
}
.background-image-wrapper img{
height: 100%;
width: 100%;
object-fit: cover;
opacity: .05;
z-index: 0;
user-select: none;
pointer-events: none;
}

#section1-5 h1{
font-family: inter;
font-size: 2.5em;
font-weight: 600;
margin: 20px 0;
padding: 2px;
display: flex;
justify-items: center;
background: linear-gradient(to left, rgb(73, 73, 73), rgb(238, 238, 238));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
z-index: 1;
}
#section1-5 h3{
font-family: montserrat;
font-size: 1em;
font-weight: 300;
margin: 0 20px 20px 20px;
padding: 2px;
color: rgb(169, 168, 168);
text-align: center;
max-width: 600px;
z-index: 1;
}
#section1-5 h3 span{
background: #ff8ca5;
background: linear-gradient(90deg, rgb(255, 159, 140) 0%, rgba(255, 153, 253, 1) 49%, rgba(116, 106, 252, 1) 100%);
-webkit-background-clip: text;
background-clip: text;
color: transparent;
font-weight: 600;
animation: gradientAnimation 5s ease infinite;
background-size: 200% 200%;
}

@keyframes gradientAnimation {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}

.carousel-wrapper {
perspective: 1200px; /* parent element gives depth */
width: 100%;
}

.carousel-container {
position: relative;
width: 100%;
height: 400px;
overflow: hidden;
display: flex;
align-items: center;
transform: rotateX(45deg); /* tilt backward */
transform-origin: bottom top;
padding: 20px;
}

.carousel {
display: flex;
gap: 20px;
transform: rotateX(-10deg); /* keep images upright */
transition: transform 0.1s linear;
will-change: transform;
padding: 0 0 0 100vw;
}

.carousel img {
height: 100%;
width: 280px;
opacity: 0.7;
border-radius: 10px;
object-fit: cover;
transition: all 0.3s ease;
user-select: none;
}
.carousel img:hover {
opacity: 1;
transform: translateY(-20px) scale(1.05);
transition: all 0.3s ease;
z-index: 10;
box-shadow: rgb(255, 58, 58) 0px 0px 20px -7px;
border: solid rgb(255, 58, 58) 1px;
pointer-events: auto;
}









.s2-1-parent-container{
width: 100%;
align-items: center;
justify-content: center;
display: flex;
margin-top: 5%;
}
.s2-1-content{
width: 80%;
display: flex;
flex-direction: column;
align-items: left;
}

.s2-1-content h1{
font-family: montserrat;
font-size: 2.5em;
font-weight: 600;
margin: 20px 0;
padding: 2px;
display: flex;
justify-items: center;
background: linear-gradient(to left, rgb(73, 73, 73), rgb(238, 238, 238));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
text-align: left;

}
.s2-1-content p{
font-family: montserrat;
font-size: 1em;
font-weight: 300;
margin: 0 20px 20px 20px;
padding: 2px;
color: rgb(169, 168, 168);
z-index: 1;
text-align: left;
}


.element-content-card-container{
width: 70%;
display: flex;
flex-direction: row-reverse;
gap: 5%;
}
.element-content-card{
position: relative;
margin-top: 50px;
width: 250px;
height: 250px;
border-radius: 25px;
overflow: hidden;
}
.element-content-card img{
height: 100%;
width: 100%;
object-fit: cover;
opacity: .2;
transition: all 0.3s ease;
}

.element-content-card h1{
display: flex;
font-family: inter;
text-align: left;
position: absolute;
color: white;
top: 0;
font-size: clamp(1rem, 5vw, 2rem);
padding: 10px;
}
.element-content-card span{
position: absolute;
font-size: clamp(4rem, 5vw, 4rem);
bottom: 0;
right: 0;
color: white;
padding: 10px;
transition: all 0.5s ease-in-out;
}
.element-content-card span:hover{
transform: translate(5px, -5px);
transition: all 0.5s ease-in-out;
}
.element-content-card:hover img {
transform: scale(1.1);
transition: all 0.3s ease;
}





