body, html{
overflow-x: hidden;
padding: 0;
margin: 0;
background-color: #0f0f0f;
}
html.js body {
opacity: 0;
transition: opacity 1s ease-in;
}
html.js body.fade-in {
opacity: 1;
}

#section1 {
background-color: #0f0f0f;
min-height: 100vh; 
overflow-x: hidden;
}
.section1-container-parent{
position: absolute;
z-index: 100;
display: flex;
top: 15%;
width: 50%;
left: 20%;
overflow: hidden;
}
.section-container-content{
z-index: 100;
line-height: 1;
}
.section-container-content h1{
color: white;
font-family: montserrat;
font-size: 3em;
font-weight: 200;
margin: 0;
padding: 2px;
display: flex;
justify-items: center;
}
.bx-i{
margin-right: 10px;
}







.h-section-content-container{
grid-row: 3;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));    
align-items: center;
justify-content: space-evenly;
width: 80%;
}
.i-section-container{
display: block;
width: 90%;
margin: 20px auto;
text-align: left;
padding: 10px;
}
.i-section-container h1{
color: white;
font-family: montserrat;
font-size: .9em;
}
.i-section-container p{
color: white;
font-family: montserrat;
font-size: .8em;
}
.i-section-container a {
position: relative;
cursor: pointer;
color: rgb(239, 57, 57);
font-family: montserrat;
font-size: .9em;
transition: all 0.5s ease;
text-decoration: none;
}
.i-section-container a::after {
content: '';
position: absolute;
left: 0;
bottom: -2px;
width: 0;
height: 1px;
background: rgb(218, 52, 52);
transition: width 0.2s ease;
}
.i-section-container a:hover::after {
width: 90%; 
}

.i-section-container span{
color: white;
display: inline;
align-items: center;
font-size: 1em;
bottom: -2px;
position: relative;
}
.material-symbols-outlined {
font-variation-settings:
'FILL' 0,
'wght' 100,
'GRAD' 0,
'opsz' 16 !important;
}





#section2 {
background-color: #0B0B0B;
min-height: 100vh; 
height: auto;
justify-content: center;
display: flex;
flex-direction: column;
align-items: center;
}


#section3 {
background-color: #0B0B0B;
min-height: 40vh; 
height: auto;
justify-content: center;
display: flex;
align-items: center;
flex-direction: column;
position: relative;
}






#section2 h1{
font-family: inter;
font-size: 2.5em;
font-weight: 600;
margin: 20px 0;
padding: 2px;
display: flex;
justify-items: center;
background: linear-gradient(to left, rgb(73, 73, 73), rgb(238, 238, 238));
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
.s2-grid{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 20px;
width: 90%;
padding: 20px;
box-sizing: border-box;
height: auto;
}
.s2-grid-item{
cursor: pointer;
background-color: #0f0f0f;
padding: 0;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
color: white;
font-family: montserrat;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
position: relative; /* Add this */
overflow: hidden;   /* Add this to clip the overlay */
height: auto;
min-height: 350px;
}
.s2-grid-item h2{
font-family: montserrat;
font-size: 24px;
font-weight: 600;
margin: 15px 0;
z-index: 100;
}
.s2-grid-item img{
width: 100%;
height: auto;
border-radius: 10px;
margin-bottom: 15px;
position: absolute;
top: 0;
}

.s2-grid-item-show-more {
position: absolute;      /* Overlay */
left: 0;
top: 10%;
width: 100%;
max-height: 0;
opacity: 0;
overflow: hidden;
color: #fff;
padding: 30px 20px 20px 20px;
box-sizing: border-box;
border-radius: 10px 10px 0 0;
transition: all 0.5s;
margin-top: 0;
z-index: 2;
height: auto;
}
.s2-grid-item-show-more p {
font-family: inter;
font-size: 14px;
line-height: 1.5;
margin: 0;
}
.s2-grid-item:hover .s2-grid-item-show-more {
max-height: 500px;
opacity: 1;
margin-top: 0;
pointer-events: auto;
transition: all 0.5s;
}
.s2-grid-item:hover .s2-grid-img {
content: url("/pagecontent/resources/images/illustration-04.png");
transition: all 0.5s;
}







