body, html{
overflow-x: hidden;
padding: 0;
margin: 0;
background-color: #0B0B0B;
scroll-behavior: smooth;
}


















/* */
/**/






#section1{
background: url('../images/insights-ucl-bg.png') no-repeat center center/cover;
position: relative;
width: 100%;
height: 50vh;
z-index: 10;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


#section2{
position: relative;
width: 100%;
height: auto;
z-index: 10;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding-bottom: 20vh;
scroll-behavior: smooth;
transition: all 0.4s ease-in-out;

}



#section1 h1{
font-size: 4rem;
font-family: 'Montserrat', sans-serif;
text-align: center;
margin: 0;
background: linear-gradient(90deg, #ff2525, #0B0B0B);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}