body{
background-color: rgb(10, 10, 10);
padding: 0;
margin: 0;
overflow-x: hidden;
}


#section1{
background-color: rgb(10, 10, 10);
height: 100vh;
}
#section2{
background-color: rgb(10, 10, 10);
height: 100vh;
}


.section-1-content{
justify-items: center;
height: 100%;
width: 100%;
position: relative;
}


.section-1-content-container{
top: 25%;
position: relative;
padding: 10px;
}
.section-1-content-container h3{
color: white;
font-family: montserrat;

}

.section-1-content-container h1{
color: white;
text-decoration: none;
font-family: montserrat;
}



