


footer {
position:relative ;
bottom: 0%; 
width: 100dvw; 
background-color: #0d0d0d;
z-index: 99;
height: 250px;
overflow-y: hidden;
display: flex;
flex-direction: column;
box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.5);
}


.footer-content-row{
justify-content: left;
align-items: top;
align-content: center;
display: flex;
width: 60%;
margin-top: 25px;
gap: 5%;

}

@media screen and (max-width: 800px) {
footer {
height: 500px;
display: flex;
flex-direction: column; 
justify-content: flex-start; 
padding-top: 10px; 
}
}


.footer-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
position: relative;
gap: 2%;
text-align: left; 
}
.footer-logo-container{
display: flex;
flex-direction: column;
}
.footer-logo-container a{
color: gray;
font-family: montserrat;
font-weight: 300;
font-size: 12px
}



.footer-content-container{
display: block;
width: auto;
justify-content: center;
display: flex; 
justify-content: center; 
align-content: top; 
text-align: left; 

}
@media screen and (max-width: 800px) {
.footer-content-container {
width: 25%;
}
}

.footer-content-container ul{
list-style: none;
padding: 0;
}
.footer-content-container ul li p {
color: gray;
font-family: montserrat;
font-size: 12px;
font-weight: 200;
line-height: 0;
}
.footer-content-container ul li a {
  position: relative; 
  opacity: 0.5;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: montserrat;
  font-weight: 200;
  list-style: none;
  text-decoration: none;
  line-height: 1.8; 
  transition: all 0.5s ease;
}
.footer-content-container a:hover {
  opacity: 1;
  transition: all 0.5s ease;
}
.footer-content-container ul li a::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: .5px;
  background: rgb(218, 52, 52);
  transition: width 0.2s ease;
}
.footer-content-container ul li a:hover::after {
  width: 100%; 
}



#divider{
border-bottom: solid 1px rgb(33, 33, 33);
width: 60%;
margin: 15px auto;
}
@media screen and (max-width:770px) {
#f-01-hidden{
display: none;
}    
}






    
.footer-bottom {
display: block; 
justify-content: center; 
align-items: center;
text-align: center; 
}
.footer-bottom p {
color: white;
font-family: montserrat;
font-size: 13px;
font-weight: 400;
text-align: center;
margin: 5px;
}

.footer-end{
color: gray;
display: flex;
width: 60%;
flex-direction: row;
gap: 10px;
margin: 5px auto;
justify-content: left;
align-items: center;
text-align: center;
}
.footer-end a {
color: rgb(255, 255, 255);
font-family: montserrat;
font-size: 14px;
font-weight: 200;
text-align: center;
text-decoration: none;
padding: 0 5px;
transition: all 0.5s ease;
opacity: .5;
}
.footer-end a:hover {
opacity: 1;
transition: all 0.5s ease;
}




@media screen and (max-width: 800px) {
.hidden-mobile{
display: none;
}
.footer-content-row, .footer-end{
width: 80%;
}
.footer-end{
flex-direction: column;
}
}


