@font-face {
font-family: 'Zendots';
src: url('/fonts/ZenDots-Regular.ttf') format('truetype');
}
@font-face {
font-family: 'LexendZettaBold';
src: url('/fonts/LexendZetta-Bold.ttf') format('truetype');
}
@font-face {
font-family: 'Inter';
src: url('/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}



@font-face {
font-family: 'Tektur';
src: url('/') format('truetype');
}



@font-face {
font-family: 'Montserrat';
src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}


@font-face {
font-family: 'Orbitron';
src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}